* {
    padding: 0px;
    margin: 0px;
}

.document {
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    margin: 50px auto;
    width: 1063px;
    height: 44px;
}

.logo-img {
    float: left;
    padding-right: 15px;
    width: 46px;
    height: 57px;
    fill: white;
}

.general-text {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-weight: 700;
}

.logo-text-flex {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 44px;
}


.orange-hover:hover * {
    color: #f3651d;
    fill: #f3651d;
}

.top-logo-text {
    font-size: 29px;
    line-height: 29px;  /*removes excessive prasparent padding*/
    margin: -1px 0;  /*removes excessive prasparent padding*/
    text-transform: uppercase;
}

.top-logo-text-bottomline {
    font-size: 18px;
    line-height: 18px; /*removes excessive prasparent padding*/
    margin: -1px 0;  /*removes excessive prasparent padding*/
    text-transform: uppercase;
}

.top-contacts {
    float: right;
    text-align: right;
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1063px;
    justify-content: space-between;
    align-content: space-between;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

.tour-container {
    margin-bottom: 58px;
}

.img-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.img-container:hover .tour-price-tag{
	margin-top: 0px;
}

.tour-container:hover .tour-name{
    color: #f3651d;
}

.tour-img {
	display: block;
    width: 307px;
    height: 200px;
    box-shadow: 0px 17px 24px 0px #000000;    /* x y blur spread color */
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: linear-gradient(#ffffff, #000000);
    border-image-slice: 2;
}

.tour-price-tag{
	position: absolute;
	margin-top: 65px;
	top: 139px;
	width: 312px;
	height: 63px;
	padding: 16px 18px 0 21px;
	text-align: left;
	background-color: rgb(242, 101, 34);
	box-sizing: border-box;
	transition: 0.5s;
}

.from-tag {
	float: left;
	font-size: 10px;
	line-height: 10px;
	font-weight: 400;
	margin-bottom: 6px;
}

.price-number {
	clear: left;
	float: left;
	margin-top: -1px;
	line-height: 20px;
	font-size: 20px;
	font-weight: 400;
}

.view-details-link {
	float: right;
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
	text-decoration: none;
}

.corner-braket {
	margin-left: 15px;
}

.tour-name {
    text-align: center;
    height: 18px;
    font-size: 18px;
    text-transform: capitalize;
}

.footer {
    width: 1063px;
    margin: 0 auto 20px;
    font-size: 12px;
    text-align: center;
}
