* {
    margin: 0px 0px;
    padding: 0px 0px;
}

.general-text {
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 14px;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.inline-container {
    display: inline-block;
}

.vertical-divider::before {
    display: inline-block;
    margin: 0px 25px;
    content: "";
    height: 19px;
    width: 1px;
    background-color: #302e2c;
    transform: translateY(24%);
}

.bg-ic_caledar {
    width: 19px; height: 19px;
    background: url('../img/top_menu_sprites.png') -10px -10px;
}

.bg-ic_caledar:hover {
    width: 19px; height: 19px;
    background: url('../img/top_menu_sprites.png') -49px -10px;
}

.bg-ic_forum {
    width: 28px; height: 20px;
    background: url('../img/top_menu_sprites.png') -168px -10px;
}


.bg-ic_forum:hover {
    width: 28px; height: 20px;
    background: url('../img/top_menu_sprites.png') -216px -10px;
}


.bg-ic_journey {
    width: 20px; height: 20px;
    background: url('../img/top_menu_sprites.png') -88px -10px;
}

.bg-ic_journey:hover {
    width: 20px; height: 20px;
    background: url('../img/top_menu_sprites.png') -128px -10px;
}

.bodybg {
    background-image: url(../img/bg.jpg); 
    background-size: cover; 
}

.header {
    padding: 20px 0;
    background-color:  rgba(0, 0, 0, 0.41);
    width: 100%;
    box-sizing: border-box;
}

.header-logo {
    margin-left: 81px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.green-link {
    color:  #3cb878;
    text-decoration: none;
}

.header-right-column {
    margin-right: 75px;
    float: right;
}

.header-mininavbar-link {
    margin-left: 28px;
}

.header-right-column-logsign {
    transform: translateY(-15%);
}

.main-frame {
    display: flex;
    height: 93vh;
    align-items: center;
    justify-content: center;
}

.logsign-form {
    position: relative;
    height: 300px;
    display: inline-block;
    padding: 29px 61px; 32px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.logsign-form-link-left-selected {
    display: inline-block;
    font-family: 'Verdana', sans-serif;
    color:  #434343;
    font-size: 20px;
    text-transform: capitalize;
}

.logsign-form-link-left-selected::before {
    display: inline-block;
    content: "";
    position: absolute;
    left: 0px;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}

.logsign-form-link-right {
    display: inline-block;
    float: right;
    font-family: 'Verdana', sans-serif;
    color:  #3cb878;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
}

.logsign-form-smbutton {
    display: inline-block;
    border-radius: 3px;
    width: 157px;
    height: 46px;
    text-align: center;
    padding-top: calc(46px/2);
    box-sizing: border-box;
}

.button-blue {
    background-color:  #305db8;
}

.button-red {
    background-color:  #df4a32;
}

.smbutton-logo-container {
    display: inline-block;
    width: 30%;
    transform: translateY(-50%)
}

.smbutton-text {
    display: inline-block;
    width: 70%;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 16px;
    transform: translateY(-75%);
    text-transform: capitalize;
}
