* {
    padding: 0px;
    margin: 0px;
    font-size: 0px;
}

.header {
    margin: 0 auto;
    padding-top: 531px;
    padding-bottom: 145px;
    width: 1600px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.header-company-name {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.company-description {
    margin-bottom: 28px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-align: left;
}

.company-slogan {
    display: inline-block;
    padding: 49px 43px 41px 30px;
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 54px;
    font-weight: 700;
    border: 1px solid;  
    text-transform: uppercase;
}

.orange {
    color:  #f1ad1d !important;
}

.text-center {
    text-align: center;
}

.body-background {
    background-image: url(../img/bg-dotted.png);
    background-position: center;
}

.about {
    margin: 0 auto;
    padding-top: 72px;
    width: 1600px;
}

.headline {
    margin-bottom: 35px;
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
    font-size: 22px;/* Approximation due to font substitution */
    font-weight: 700;
    text-transform: uppercase;
}

.general-text {
    margin-bottom: 57px;
    font-family: 'Lato', sans-serif;
    color:  #4d4943;
    font-size: 17px;
}

.orange-line::after {
    display: block;
    width: 60px;
    height: 3px;
    margin: 52px auto 57px;
    content: ""; 
    background-color: #f1ad1d;
}

.directions-button {
    display: block;
    padding: 14px;
    width: 117px;
    height: 42px;
    position: absolute;
    left: 13px;
    top: 95px;
    font-family: Lato;
    color:  #ffffff;
    font-size: 14px;
    background-color: #333333;
    box-sizing: border-box;
}

.directions-list {
    display: inline-block;
    margin: 0 auto;
    width: 600px;
}



.directions-container {
    margin-bottom: 33px;
    margin-right: 30px;
    display: inline-block;
    position: relative
}

.directions-img {
    display: block;
}

.directions-text {
    margin-bottom: 26px;
    font-family: 'Lato', sans-serif;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
}

.directions-text-container {
    margin-bottom: 36px;
    display: inline-block;
    width: 400px;
    vertical-align: top;
    text-align: justify;
}

.directions-headline {
    margin-bottom: 26px;
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.menulink {
    font-family: 'Lato', sans-serif;
    color:  #3d3d3d;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.menulink:hover {
    color:  #f1ad1d;
}

.menu {
    margin: 0 auto;
    width: 1170px;
    list-style: none;
    text-align: left;
}

.menu::after {
    display: block;
    height: 3px;
    margin: 23px 0 126px;
    content: ""; 
    background-color: #f1ad1d;
}

.menu-element {
    display: inline-block;
    margin-left: 48px;
    margin-right: 15px;
}

.menulogo {
    margin-right: 195px;
}

.award-img {
    margin-bottom: 100px;
}

.menu-arrow {
    margin-left: 3px;
}
