@charset "UTF-8";

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Black.ttf);
}

.document {
	width: 1280px;
	background-color: #f5f6f7;
	margin-left: auto;
	margin-right: auto;
}

.top-navbar {
	padding-top: 32px;
	margin-bottom: 35px;
	text-align: center;
}

.top-navbar-link {
	font-family: Roboto, sans-serif;
	font-weight: 900;
	color: #16a085;
	font-size: 18px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: UPPERCASE;
	padding-right: 65px;
}

.image-main {
	width: 1280px;
	height: 790px;
}

.middle-main-zone {
	margin-top: 34px;
	margin-left: 110px;
    margin-right: 110px; 
	text-align: center;
}

.header-text {
	margin-top: 59px;
	font-family: Roboto, sans-serif;
	font-weight: 900;
	color: #373737;
	font-size: 22px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: UPPERCASE;
}

.main-text {
	font-family: Roboto, sans-serif;
	font-weight: 900;
	color: #373737;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 26px;
}

.button-green {
	margin-left: auto;
    margin-right: auto;
	margin-top: 41px;
	margin-bottom: 94px;
	width: 192px;
	height: 51px;
	background-color: #16a085;
	border-radius: 3px;
}

.button-green-text {
	padding-top: 23px;
	text-align: center;
	color: #ffffff;
	font-family: GothamRounded;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: UPPERCASE;
}

.bottom-copyright-zone {
	height: 108px;
	background-color: rgb(255, 255, 255);
	padding-right: 104px;
	padding-top: 47px;
	text-align: right;
}